header {
  background-color: white !important;
}

.bs-header-height-56px {
  min-height: 56px !important;
}

.bs-header-branding {
  background-color: white;
  padding-bottom: 16px;
  padding-top: 24px;
  width: 900px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  color: rgba(0, 0, 0, .8) !important;
}

.bs-header-branding .bs-header-branding-title {
  font-size: 36pt;
  margin-bottom: 8px;
}

.bs-header-branding .bs-header-branding-subtext {
  font-size: 14pt;
  margin-left: 4px;
  margin-bottom: 0px;
}

.bs-navigation-row {
  height: 56px !important;
  background-color: rgb(33,150,243);
  width: 900px;
}

.bs-navigation-row .mdl-navigation {
  width: 100%;
}

.bs-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.bs-navigation-row .is-active {
  position: relative;
  font-weight: bold;
}

.bs-navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  left: 15%;
}

.bs-nav-next > .bs-nav-next__button {
  color: white;
  text-decoration: none;
}

.bs-nav-next .mdl-button {
  color: rgba(0,0,0,0.54);
  background-color: white;
}

.bs-nav-next__button {
  margin-top: 8px;
  margin-bottom: 8px;
}

.bs-nav-next__left-button {
  float: left;
}

.bs-nav-next__right-button {
  float: right;
}

body {
  background-color: white;
  /* background-color: #ECEFF1; */
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.bs-card .mdl-card__title {
  padding-bottom: 0;
}

.bs-card-article-image {
  text-align: center;
}

.bs-separator {
  height: 2px;
  background-color: rgb(64,196,255);
  margin: 8px;
}

img.article-image {
  width: 100%;
  height: auto;
}

.bs-max-width {
  max-width: 900px;
  margin: auto;
}

.no-padding {
  padding: 0;
}

.bs-contact .mdl-textfield {
  width: 100%;
}

.bs-contact form {
  max-width: 550px;
  margin: auto;
}

.mdl-mini-footer {
  background-color: rgb(96,125,139);
}

footer {
  background-image: url(images/footer-background.png);
  background-size: cover;
}

.bs-portrait-image-container {
  background-color: white;
  padding: 16px;
  width: 55%;
  margin: 0 auto;
}

.bs-portrait-image {
  width: 100%;
  height: auto;
  padding-bottom: 32px;
}
